@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto:wght@500&display=swap");

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
}

body{
    font-family: "Poppins",sans-serif;
    color: var(--primary-text-color);
    background-color: #F1E5D1;
}

p{
    font-family: "Roboto",sans-serif;
    color: var(--secondary-text-color);
    line-height: 1.4rem;
}

a{
    text-decoration: none;
}

ul{
    list-style: none;
}

.flex{
    display: flex;
    align-items: center;
}

.container{
    max-width: 1450px;
    margin-inline: auto;
    overflow: hidden;
}

nav {
    /* background-color: #f3faff; */
    background-color: #C39898;
    position: fixed;
    top: 0;
    z-index: 100;
    left: 0;
    right: 0;
    font-size: 20px;
}

.main-nav {
    justify-content: space-between;
    padding-block: 18px;
}

.company-logo img {
    width: 120px;
}

.nav-links ul{
    gap: 16px;
}

.hover-link{
    cursor: pointer;
}

.hover-link:hover{
    color: #987070;
}

.hover-link:active{
    color: red;
}

.nav-item.active{
    color: rgb(196, 42, 67);
}

.search-bar{
    height: 32px;
    gap: 8px;
}

.news-input{
    width: 200px;
    height: 100%;
    padding: 19px;
    /* border: 3px solid rgb(196, 42, 67); */
    border: 3px solid var(--primary-text-color);
    font-size: 20px;
    font-family: "Roboto",sans-serif;
    outline: none;
    font-weight: 300;
    border-radius: 5px;
    background-color: #F1E5D1;
}

.search-button{
   /* background-color: rgb(196, 42, 67);  */
   background-color: var(--primary-text-color);
   color: white;
   padding: 8px 24px;
   border: none;
   border-radius: 4px;
   cursor: pointer;
   font-size: 20px;
   font-family: "Roboto",sans-serif;
   transition: 0.8s;
}

.search-button:hover{
    background-color: #F1E5D1;
    color: var(--primary-text-color);
}

.search-button:active{
    transform: scale(0.9);
}


main{
    padding-block: 20px;
    margin-top: 80px;
}

.cards-container{
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 20px;
    align-items: start;
}

.card{
    width: 450px;
    min-height: 400px;
    box-shadow: 0 0 4px #d4ecff;
    border-radius: 4px;
    cursor: pointer;
    background-color: #f6f2eb;
    overflow: hidden;
    transition: all 0.3s ease;
}

.card:hover{
    box-shadow: 1px 1px 8px #d4ecff;
    background-color: #fdfaf5;
    transform: translateY(-2px);
}

.card-header img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content{
    padding: 12px;
}

.news-source{
    margin-block: 12px;
}